{% extends "plantilla.html" %}
{% load static %}
{% block body %}

<h1 class="text-center">Gestión de Director Uso de FETCH</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-end">
            <button class="btn btn-success" onclick="cargarDirectores();"> <i class="fas fa-refresh"></i> Actualizar</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#directorModal">
                <i class="fas fa-plus"></i> <strong>Agregar Director</strong>
            </button>

            <!-- <a class="btn btn-success" href="{%url 'listadoCines'%}" ><b>Listas de Cines</b></a> -->
        </div>
    </div>
    <!-- llamamos la ruta de listado cines  -->
    <div class="row">
        <div class="col-md-12 " id="contenedor-directores">

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="directorModal" tabindex="-1" aria-labelledby="directorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-align" id="directorModalLabel">Nuevo Cine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="frm_nuevo_director" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for=""><b>DNI:</b></label>
                    <input type="text" name="dni" class="form-control" id="dni" placeholder="Ingrese su dni">
                    <label for=""><b>NOMBRE:</b></label>

                    <input name="nombre" id="nombre" class="form-control" rows="3"
                        placeholder="Ingrese el nombre del director">
                    <br>
                    <label for=""><b>APELLIDO:</b></label>
                    <input type="text" name="apellido" class="form-control" id="apellido"
                        placeholder="Ingrese el apellido del director">
                    <br>
                    <label for=""><b>ESTADO:</b></label>
                    <input type="checkbox" name="estado" id="estado">
                    <br><br>
                    <label for=""><b>FOTOGRAFIA:</b></label>
                    <input type="file" name="fotografia" id="fotografia" accept="image/*" required class="form-control">
                    <br><br>
                    <br>
                    <div class="modal-footer">
                        <br>
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal"> <i
                                class="fas fa-times"></i> Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $("#frm_nuevo_director").validate({
        rules: {
            apellido: {
                required: true,
            },
            nombre: {
                required: true,
            },
            foto: {
                required: true,
            }
        },
        messages: {
            apellido: {
                required: "Por favor, ingrese el dato solicitado",
            },
            nombre: {
                required: "Por favor, ingrese el dato solicitado"
            },
            foto: {
                required: "Por favor, seleccione una foto",
            }
        }
        //Funcion para cargar el listado de Directores

    });
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    // peticiones asincronas
    document.getElementById('frm_nuevo_director').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/agregarDirector/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error');
            }
            return response.json();
        })
        .then(data => {
            if (data.estado) {
                Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: data.mensaje,
                    icon: 'success'
                });
                $('#directorModal').modal('hide'); // Ocultar el modal
                this.reset(); // resetear el modal
                cargarDirectores(); // Cargar listado de directores después de insertar

            } else {
                Swal.fire({
                    title: "ERROR",
                    text: "Error al guardar los datos",
                    icon: 'error'
                });
            }
        })
        .catch(error => {
            console.error('Fetch Error:', error);
            Swal.fire({
                title: "ERROR",
                text: "Ocurrió un error al procesar la solicitud",
                icon: 'error'
            });
        });
    });
    function cargarDirectores() {
        $("#contenedor-directores").load('{% url "listadoDirectores" %}');
    }
    cargarDirectores();



</script>

{% endblock %}