{% extends "./plantilla.html"%}
{%block body%}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'guardarPais'%}" method="post">
            {% csrf_token %}
            <label for=""><b>Nombre</b></label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese su nombre">
            <label for="">Continente</label>
            <input type="text" id="continente" name="continente" class="form-control" placeholder="Ingrese el continente">
            <label for="">Capital</label>
            <input type="text" id="capital" name="capital" class="form-control" placeholder="Ingrese la capital">
            <button type="submit" class="btn btn-primary">Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" href="{% url 'listadoPais'%}">Cancelar</a>
        </form>
    </div>
</div>
{%endblock%}