{% extends "./plantilla.html"%}
{%block body%}
<div class="row">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br><br><br>
                <div><h4>Nuevo Genero</h4></div>
                <form action="{% url 'guardarGenero'%}" enctype="multipart/form-data" method="post" id="frm_nuevo_genero">
                    {% csrf_token %}
                    <label for=""><b>Nombre</b></label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese su nombre">
                    <br>
                    <label for=""><b>Descripcion</b></label>
                    <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese su descripcion"
                        rows="3"></textarea>
                    <br>
                    <label for=""><b>Fotografia:</b></label>
                    <input type="file" id="foto" name="foto" required accept="image/*" class="form-control">
                    <br><br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" href="{% url 'listadoGeneros'%}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    // document.getElementById('frm_nuevo_genero')
    // aqui configuramos las validaciones en json 
    $("#frm_nuevo_genero").validate({
        rules:{
            nombre:{ 
                required:true,
                minlength: 3,
                maxlength: 10
            },
            descripcion:{required:true},
            foto:{required:true}
        },
        messages:{
            nombre:{ 
                required:"Por favor ingrese su nombre",
                minlength: "Minimo 3 caracteres",
                maxlength: "Solo 10 caracteres"
            },
            descripcion:{required:"Este campo es  obligatorio"},
            foto:{required:"Selecione una foto"}
        },
    });
    // script para subir archivos 
    $(document).ready(function() {
        $("#foto").fileinput({                       
            showBrowse: true,
            browseOnZoneClick: true            
        });
    });



</script>

{%endblock%}