<br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>LISTADO DE PELÍCULAS</b></h3>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-hover" id="tbl-pelicula">
    <thead>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>DURACIÓN</th>
            <th>SINOPSIS</th>
            <th>GÉNERO</th>
            <th>DIRECTOR</th>
            <th>PAIS</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for peliculaTemporal in peliculas %}
            <tr>
                <td>{{peliculaTemporal.id}}</td>
                <td>{{peliculaTemporal.titulo}}</td>
                <td>{{peliculaTemporal.duracion}}</td>
                <td>{{peliculaTemporal.sinopsis}}</td>
                <td>{{peliculaTemporal.genero}}</td>
                <td>{{peliculaTemporal.director}}</td>
                <td>{{peliculaTemporal.pais}} </td>
                <td>                      
                    <a href="#" class="btn btn-warning">
                        <i class="fas fa-pencil"></i>
                    </a>
                    <a href="#" onclick="return confirm('Esta seguro?');x" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    const table = new DataTable('#tbl-peliculas');
</script>